
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3{
    word-spacing: 1px;
    letter-spacing: 1px;
    font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.blue{
    color: #247bea;
}
.grey{
    color: #838a97;
}

#loader-cont{
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background: #f8fafc;
    transition: 0.82s cubic-bezier(0.19, 1, 0.22, 1);

    .effect-element{
        position: absolute;
        width: 2000px;
        height: 2000px;
        background: #f8fafc;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: scale(1) translate(-50%, -50%);

    }


    .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .box{
            position: relative;
            width: 100px;
            height: 100px;
            transform: perspective(500px) rotate(30deg) skew(-30deg);
            box-shadow: 50px 45px 15px rgba(0, 0, 0, 0.14);
            background: #eef3f7 url(../img/alphas.png);
            background-size: 100px;
            background-repeat: no-repeat;
            background-position: 50% 50%; 
            transition: 0.62s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #344052;
            animation: float 0.5s ease infinite alternate-reverse;

            &:hover{
                transform: perspective(500px) rotate(30deg) skew(-30deg) translate(-30px, -30px);
                box-shadow: 105px 95px 50px rgba(0, 0, 0, 0.14);    
            }

            &:before{
                content: '';
                width: 100%;
                height: 40%;
                position: absolute;
                top: 0;
                left: 0;
                -webkit-transform: skew(50deg) translate(-95%, 100px);
                transform: skew(50deg) translate(-95%, 100px);
                background: url(../img/wolff.png) #e2ebf3;
                background-size: 20px;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                // border-radius: 0 0 10px 10px;
            } 

            &:after{
                content: attr(data-name);
                width: 100%;
                height: 48%;
                position: absolute;
                top: 0;
                left: 0;
                transform: rotate(-90deg) skew(-40deg) translate(15px, 150%);
                background: #eaf0f6;
                display: flex;
                align-items: center;
                justify-content: center;   
                // border-radius: 0 0 10px 10px;     
            } 
        }
    }

}

@keyframes float{
    0%{
        transform: perspective(500px) rotate(30deg) skew(-30deg);
        box-shadow: 50px 45px 15px rgba(0, 0, 0, 0.14);
    }
    100%{
        transform: perspective(500px) rotate(30deg) skew(-30deg) translate(-30px, -30px);
        box-shadow: 105px 95px 50px rgba(0, 0, 0, 0.14);    
    }
}

#menu{
    width: 100%;
    position: fixed;
    z-index: 4;
    font-weight: 600;
    // font-weight: 100;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .logo-cont{
        width: 30%;
        position: relative;
        height: 74px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // padding: 1em;
        float: left;
        color: #344052;

        div{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 26px;
            font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }

    nav{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        pointer-events: none;
        
        .inner{
            width: 100%;
            height: 100%;
            background: #344052;
            clip-path: circle(15% at 100% 0%);
            pointer-events: none;
            transition: 0.86s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        }
    
    
        ul{
            width: 100%;
            padding: 1em;
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            .slide{
                top: 50%;
                height: 40px;
                width: 100%;
                transform: translateY(-50%);
                position: absolute;    
                pointer-events: none;
                z-index: -1;
                transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);

                .slider{
                    width: 70px;
                    height: 4px;
                    background: #344052;
                    position: absolute;
                    bottom: 0;
                    border-radius: 8px;
                    transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    opacity: 0;
                }
            }
    

            li{
                // display: inline;
                margin: 12% 7%;
                color: #d1d8e4;
                font-size: 36px;
                list-style-type: none;

                &.contact-us{
                    background: #d1d8e4;
                    width: 270px;
                    color: #5b8dcf;
                    padding: 6px 12px;
                    border-radius: 36px;
                    margin: 0 auto;
                    box-shadow: 8px 6px 32px rgba(209, 216, 228, 0.34);
                }

                a{
                    text-decoration: none;
                    color: inherit;
                }
            }
  
        }

    }

    @media screen and (min-width: 700px){
        nav{
            width: 70%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            float: left;
            mix-blend-mode: difference;
            pointer-events: all;

            .inner{
                width: 100%;
                height: 100%;
                background: transparent;
                clip-path: circle(100% at 50% 50%);
                pointer-events: all;

            }
    

            ul{
                top: 0;
                transform: translateY(0);
    
                li {
                    display: inline;
                    font-size: 16px;

                    &.contact-us{
                        width: unset;
                    }
                }
            }

            // .slide{
            //     width: 100%;
            //     height: 4px;

            //     .slide{

            //     }
            // }
        }
    }
    .nav-button-cont{
        position: absolute;
        top: 6px;
        left: calc(100%);
        transform: translate(-110%, 0%);
        width: 40px;
        height: 40px;
        pointer-events: all;
        z-index: 999;

        div{
            height: 2px;
            margin: 17px 0;
            width: 100%;
            background: #dee9f7;
            transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);


            &:nth-of-type(1){
                transform: translate(0px, 0px) rotateZ(-45deg);
                width: 100%;
            }
            &:nth-of-type(2){
                transform: translate(0px, -20px) rotateZ(45deg);
            }
        }

    }

}
.animatebars{

    &:nth-of-type(1){
        transform: translate(-5px, 0px) rotateZ(0deg)!important;
        width: 70%!important;
        margin: 6px 0!important;
    }
    &:nth-of-type(2){
        transform: translate(-5px, 8px) rotateZ(0deg)!important;
        margin: 6px 0!important;
    }

}

.shownav{
    clip-path: circle(100% at 50% 50%)!important;
    pointer-events: all!important;
}

@media screen and (min-width: 700px){
    .nav-button-cont{
        display: none;
    }
}


.sect{
    width: 100%;
    min-height: 100vh;
    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(24em, 1fr));
    // background: #21252b;
}

.intro-sect{
    height: 120vh;
}

.background{
    width: 100%;
    height: 120%;
    position: absolute;
    overflow: hidden;
    background: linear-gradient(80deg, rgba(36, 123, 234, 0.431), rgba(35, 102, 187, 0.8));

    .rect-group{
        width: 400px;
        height: 400px;
        position: absolute;
        top: 50%;
        left: 80%;
        z-index: 3;
        transform: translate(-30%, -10%) rotate(0deg);


        .rect{
            width: 250px;
            height: 150px;
            background: #e9f3fc;
            position: absolute;
            border-radius: 1em;
            top: 50%;
            left: 50%;
            // transform: translate()
    
            &._1{
                transform: translate(-50%, -40%) rotate(0deg);
                opacity: 0.333;
                
            }
            &._2{
                transform: translate(-60%, -60%) rotate(0deg);
                opacity:0.666;
            }
            &._3{
                transform: translate(calc(-60% - 50px), calc(-60% - 50px)) rotate(0deg);
                opacity: 1;
                width: 300px;
                height: 200px;

                .codes{
                    position: absolute;
                    width: 78%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);    

                    p{
                        font-family: 'Courier New', Courier, monospace;
                        position: relative;
                        color: #838a97;

                        // .blue{
                        //     color: #247bea;
                        // }
                        // .grey{
                        //     color: #838a97;
                        // }
                        

                    }
                }
            }
            
        }    
    }


    .blink{
        &:after{
            content: "";
            position: absolute;
            width: 2px;
            height: 16px;
            background: #247bea;
            bottom: 0;
            animation: blink 0.5s ease-in-out infinite;
            // transform: translateY(-50%);
        }
    }
    @keyframes blink{
        0%{
            opacity: 0;
            // visibility: hidden;
        }
        100%{
            opacity: 1;
            // visibility: visible;
        }
    }

    .round-rect{
        width: 950px;
        height: 850px;
        background: #fff;
        opacity: 1;
        position: absolute;
        border-radius: 60px;
        top: -10%;
        left: -360px;
        box-shadow: inset 0 0 122px rgba(0, 0, 0, 0.18);
        transform:translate(5%, 0) rotateZ(35deg);

    }

    .circle-group{
        position: absolute;
        width: 58%;
        height: 80%;
        right: 0;

        .circle{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: linear-gradient(80deg, #dee9f7, #c7daf1);
            box-shadow: 16px 24px 32px rgba(52, 64, 82, 0.121);
            position: absolute;
            z-index: 2;
            animation: rotate 14s linear infinite;
 
    
            &.c_1{
                position: absolute;
                top: 80%;
                right: 56%;     
            }
            &.c_2{
                position: absolute;
                top: 60%;
                right: 100%;     
            }
            &.c_3{
                position: absolute;
                top: 20%;
                right: 10%;   
                }
            }
        }
    
    }
    .square-group{
        position: absolute;
        width: 58%;
        height: 80%;
        right: 0;

        .square{
            border-radius: 5px;
            background: linear-gradient(80deg, #dee9f7, #c7daf1);
            box-shadow: 16px 24px 32px rgba(52, 64, 82, 0.121);
            position: absolute;
            transform: rotate(45deg);
            z-index: 2;
            animation: rotate 14s linear infinite;
    
            &.s_1{
                position: absolute;
                top: 100%;
                right: 30%;    
                width: 30px;
                height: 30px;
                animation-delay: 2s;
            }
            &.s_2{
                position: absolute;
                top: 40%;
                right: 80%;     
                width: 30px;
                height: 30px;
                animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
            }
            &.s_3{
                position: absolute;
                top: 10%;
                right: 50%;    
                width: 30px;
                height: 30px; 
            }
        }
    
    }


@keyframes rotate{
    0%{
        transform: translate(-15px, -15px) rotate(360deg);
    }
    
    100%{
        transform: translate(-15px, -15px) rotate(0deg);
    }
}

.intro-sect .main{
    width: 100%;
    height: 100%;
    position: relative;

    .main-header{
        width: 70%;
        height: 50%;
        position: absolute;
        display: flex;
        align-items: center;
        top: 30%;
        left: 20%;
        z-index: 2;
        transform: translate(-20%, -50%);

        h1{
            font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 2.8em;
            color: #21252b;     
            font-weight: 400;

            // span{
            //     background: #abb2bf;
            //     color: #344052;
            //     padding: 8px 12px;
            // }
        }

        #glare-button{
            width: 12em;
            height: 5.2em;
            border-radius: 12em;
        }
    }
}
@media screen and (min-width: 700px){
    .intro-sect .main{
    
        .main-header{
            width: 40%;
            transform: translate(-20%, -50%);
    
            h1{
                font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 4em;
                color: #21252b;     
                font-weight: 400;
    
                // span{
                //     background: #abb2bf;
                //     color: #344052;
                //     padding: 8px 12px;
                // }
            }
        }
    }
    
}
.sect.about{
    position: relative;
    background: #21252b;
    // display: table;
    z-index: 3;



    .sect-divide{
        width: 100%;
        height: 300px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0, -100%);
        overflow: hidden;


        svg{
        position: absolute;
        width: 200%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translateX(0) scaleX(3.5);


            #wave{
                fill: #21252b;
                stroke:none;
                stroke-width:0.26458332px;
                stroke-linecap:butt;
                stroke-linejoin:miter;
                stroke-opacity:1;
                
        
            }

            // & #wave{
            //     fill: #247bea;  
            // }

            &.waves1{
                animation: wave-motion 10s ease-in infinite alternate-reverse;
                transform: translateX(-500px);
                opacity: 0.25;

                #wave{
                    fill: #344052;
                }

            }
            &.waves2{
                animation: wave-motion 14s ease-in infinite alternate-reverse;
                transform: translate(-400px);
                opacity: 0.5;

                #wave{
                    fill: #212a2b
                }

            }

            &.waves3{
                animation: wave-motion 10s ease-in-out infinite alternate-reverse;
                transform: translate(-300px);
                opacity: 1;
            }

        }
    }


    .section-bg{
        width:100%;
        height: 100%;
        position: absolute;
        z-index: 0;
        overflow: hidden;

        svg{
            position: absolute;
            width: 800px;
            height: 800px;
            top: 0%;
            left: 10%;
            transform: translate(-50%, 0%);

            path{
                solid-color:#000000;
                solid-opacity:1;
                vector-effect:none;
                fill:none;
                fill-opacity:1;
                fill-rule:nonzero;
                stroke:#f9f9f9;
                stroke-opacity: 0.4;
                stroke-width:0.1;
                stroke-linecap:round;
                stroke-linejoin:round;
                stroke-miterlimit:4;
                stroke-dasharray:none;
                stroke-dashoffset:0;
                color-rendering:auto;
                // transform: scale(1.2);
            }
        }
    }

    .sect-content{
        // position: relative;
        // display: table;
        // top: 50%;
        // transform: translateY(-50%);
    }
    //     .container{
    //         width: 78%;
    //         background: transparent;
    //         margin: 2% 11%;
    //         border-radius: 10px;
    //         float: left;
        
    //         .section{
    //             width: 100%;
    //             position: relative;
    //             height: 200px;
    //             overflow: hidden;
    //             transition: 0.62s cubic-bezier(0.21, 0.3, 0.48, 1.05);
        
    //             &.head{
    //                 text-align: center;
    //                 z-index: 1;
    //                 transform: translateY(50%); 
    //                 background: #21252b; 
    //                 border-radius: 6px ;

    //                 .section-bg{
    //                     width: 100%;
    //                     height: 100%;
    //                     position: absolute;

    //                     &.design-bg{
    //                         background: url(../img/baze.png);
    //                     }
    //                 }
        
        
    //                 h1{
    //                     color: #abb2bf;
    //                     font-family: 'Courier New', Courier, monospace;
    //                     position: absolute;
    //                     top: 50%;
    //                     left: 50%;
    //                     transform: translate(-50%, -50%);
    //                 }
                    
    //             }
    //             &.details{
    //                 padding: 1em;
    //                 transform: translateY(-50%);
    //                 border-radius:6px;
    //                 box-shadow: 0 0 50px rgba(0, 0, 0, 0.24);
    //                 position: relative;

    //                 p{
    //                     text-align: left;
    //                     color: #abb2bf;
    //                     font-family: 'Courier New', Courier, monospace;
    //                     // font-size: 95%;
    //                 }
        


    //                 .more-btn-cont{
    //                     position: absolute;
    //                     top: 100%;
    //                     left: 0;
    //                     transform: translateY(-100%);
    //                     background: linear-gradient(180deg, rgba(209, 216, 228, 0) 0px, #d1d8e4) 4px;
    //                     width: 100%;

    //                     a{
    //                         display: block;
    //                         margin: 46px 6px 6px 6px;    
            
    //                         button{
    //                             color: #21252b;
    //                             font-family: 'Courier New', Courier, monospace;
    //                             font-weight: 200;
    //                             border: 1.2px solid #21252b;
    //                             border-radius: 36px;
    //                             padding: 5px 10px;
    //                             background: transparent;
    //                             transition: 0.82s cubic-bezier(0.075, 0.82, 0.165, 1);
            
            
    //                             &:hover{
    //                                 background: #21252b;
    //                                 color: #abb2bf;
    //                             }
    //                         }
    //                     }
    
    //                 }
        
    //             }
    //         }
        
        
    //         &:hover .section.head{
    //             transform: translateY(0);  
    //             height: 200px;
    //             background: #247bea;
    //             border-radius: 6px 6px 0 0;

    //             h1{
    //                 color: #d1d8e4;
    //             }
    //         }
        
    //         &:hover .section.details{
    //             transform: translateY(0);
    //             border-radius: 0 0 6px 6px;
    //             background: #d1d8e4;
    //             // display: table;

    //             p{
    //                 color: #21252b;
    //             }
    //         }
    //     }
        
    //     @media screen and (min-width: 700px){
    //         .container{
    //             width: 30.33%;
    //             background: transparent;
    //             margin: 0 1.5%;
    //             border-radius: 10px;
    //             float: left;
    //         }
    //     }
        
    // }
}

.sect-about{
    position: relative;
    width: 100%;
    padding: 30% 0 0 0;

    .sect-text{
        padding: 6px 14px;
        font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #e2ebf3;
        border: 2px solid #e2ebf3;
        position: absolute;
        display: block;
        overflow: hidden;
        top: 0px;
        // top: -20px;
        left: 50%;
        transform: translate(-50%, 50%);
        transition: 0.34s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &::after{
            content: "";
            width: 100%;
            height: 100%;
            background: #e2ebf3;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-100%);
            transition: 0.34s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        }

        &:hover{
            color: #344052;
        }
        &:hover::after{
            transform: translateX(0);
            z-index: -1;
        }
    }
    .sect-heading{
        font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #eaf0f6;
        width: 78%;
        margin: 0 auto 1.35em auto;
        text-align: center;
        position: relative;
        // transform: translateY(250%);

        h1{
            margin: 0.25em 0.5em;
            color: #eaf0f6;
        }
        p{
            margin: 0.15em 0.5em;
            font-weight: 100;
            font-size: 20px;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
    }

    .sect-images{
        width: 100%;
        // background: #eaf0f6;
        height: 200px;    
        position: relative;
        top: 0;
        margin: 0 0 5em 0;
        // transform: translateY(-80%);

        
        .sub-image{
            overflow: hidden;
            position: absolute;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            transition: 0.54s cubic-bezier(0.175, 0.885, 0.32, 1.275);

            &:hover{
                z-index: 2;
                box-shadow: 0 0 34px rgba(0, 0, 0, 0.48);
            }

            &:nth-child(1){
                top: 50%;
                left: 50%;
                transform: translate(-150%, -60%);
                // animation: float 2s ease-in-out 0s infinite;

                &:hover{
                    transform: translate(-150%, -60%) scale(1.2);
                }
                &:active{
                    transform: translate(-150%, -60%) scale(0.8);
                }
                
    
            }

            &:nth-child(2){
                top: 50%;
                left: 50%;
                transform: translate(100%, 0%);
                width: 80px;
                height: 80px;
                // animation: float 4s ease-in-out 2s infinite;

                &:hover{
                    transform: translate(100%, 0%) scale(1.2);
                }
                &:active{
                    transform: translate(100%, 0%) scale(0.82);
                }
                
            }

            &:nth-child(3){
                top: 50%;
                left: 50%;
                width: 180px;
                height: 180px;
                transform: translate(-50%, -50%);
                // animation: float 6s ease-in-out 4s infinite;

                &:hover{
                    transform: translate(-50%, -50%) scale(1.2);
                }
                &:active{
                    transform: translate(-50%, -50%) scale(0.82);
                }

                img{
                    width: 100%;
                    height: unset;
                }
            }

            &:nth-child(4){
                top: 50%;
                left: 50%;
                transform: translate(-100%, 60%);
                width: 90px;
                height: 90px;
                // animation: float 8s ease-in-out 6s infinite;

                &:hover{
                    transform: translate(-100%, 60%) scale(1.2);
                }
                &:active{
                    transform: translate(-100%, 60%) scale(0.82);
                }

            }


            img{
                height: 100%;
            }
        }
    }

    .sect-team-mates{
        width: 78%;
        margin: 1.35em auto 1.35em auto;
        text-align: center;
        overflow: hidden;
        position: relative;

        .team-mates-heading{
            width: 100%;
            margin: 1em 0;
            color: #e2ebf3;
        }

        .mates-cont{
            position: relative;
            overflow-y: hidden;

            .cont-slider{
                display: inline-flex;

                .team-mate{
                    min-width:200px;
                    padding: 1em;
                    margin: 1em;
                    background: #e2ebf3;
                    border-radius: 8px;
                    overflow: hidden;

        
                    .team-mate-bg{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 200px;
                        height: 200px;
                        transform: translate(-50%, -28%);
        
                        svg#mate-bg{
                            width: 100%;
                            height: 100%;
                            opacity: 0;
        
                            path{
                                fill: #344052;
                                stroke:#e2ebf3;
                                stroke-width:1.5;
                                stroke-linecap:butt;
                                stroke-linejoin:miter;
                                stroke-miterlimit:4;
                                stroke-dasharray:none;
                                stroke-opacity:1;
                            }
                        }
                    }
        
                    .profile-cont{
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
                        position: relative;
                        margin:1.25em auto;
                        // transform: translateY(-10%);
        
                        &::after{
                            content: "";
                            border: 6px solid #344052;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            
                        }
                        
                        img{
                            width: 100%;
                            display: none;
                        }
                    }
        
                    .heading-cont{
                        width: 100%;
                        text-align: center;
                        font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        margin: 0.75em 0;
                        position: relative;
                        // transform: translateY(20%);
        
                        h1{
                            color: #344052;
                            // color: #e2ebf3;
                        }
                    }
        
                    .description-cont{
                        width: 100%;
                        text-align: center;
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                        position: relative;
                        margin: 1.25em 0 1.25em 0;
        
                        p{
                            padding: 0 1em 0 1em;
                            // color: #e2ebf3;
                            color: #344052;                    
                        }
                    }

                    .social-cont{
                        width: 100%;
                        text-align: center;
                        position: relative;
                        margin: 1.25em 0 1.25em 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .social{
                            padding: 4px 8px;
                            background: #e2ebf3;
                            border-radius: 4px; 
                            transition: 0.64s cubic-bezier(0.175, 0.885, 0.32, 1.275);


                            &:hover{
                                box-shadow: 0 0 20px rgba(36, 123, 234, 0.24);
                                transform: translateY(-10%);
                                z-index: 2;
                            }

                            a{
                                color: #247bea;
                                font-size: 1.75em;
                            }
                        }
                    }
        
                }
            }
        }

    }
}

@media screen and (min-width: 700px){

    .sect-about{
        position: relative;
        width: 92%;
        margin: 0 auto;
        padding: 10% 0 0 0;

        .sect-text{
            top: 0;
            left: calc(0% + 1em);
            transform: translate(0, -50%);
        }
        .sect-heading{
            width: 50%;
            margin: 0 auto 1.35em auto;
            padding: 0 2em 0 0;
            text-align: left;
            float: right;
            position: relative;
            transform: translateY(0);
    
            h1{
                margin: 0.25em 12px;
            }
            p{
                margin: 0.25em 12px;
            }
        }
    
        .sect-images{
            width: 50%;
            float: right;
            transform: translateY(0);

            // .sub-image{
            //     &:nth-child(1){
            //         width: 180px;
            //         height: 180px;
            //     }
            //     &:nth-child(2){
            //         width: 160px;
            //         height: 160px;
            //         transform: translate(40%, 0);
            //     }
            //     &:nth-child(3){
            //         width: 240px;
            //         height: 240px;
            //     }
            //     &:nth-child(4){
            //         width: 110px;
            //         height: 110px;
            //     }
            // }
        }

        .sect-team-mates{
            .mates-cont{
                overflow: hidden;
            }
        }
    }
    
}

@media screen and (min-width: 900px){
    .sect-about{
        .sect-images{
            .sub-image{
                &:nth-child(1){
                    width: 180px;
                    height: 180px;
                }
                &:nth-child(2){
                    width: 160px;
                    height: 160px;
                    transform: translate(40%, 0);

                    &:hover{
                        transform: translate(40%, 0) scale(1.2);
                    }    
                    &:active{
                        transform: translate(40%, 0) scale(0.82);
                    }    
                }
                &:nth-child(3){
                    width: 240px;
                    height: 240px;
                }
                &:nth-child(4){
                    width: 110px;
                    height: 110px;
                }
            }
        
        }
    
    }

}

.sect-inner-wrapper{
    height: 100%;
    overflow-x: visible;
}

@keyframes wave-motion{
    0%{
        transform: translateX(0) scaleX(2);
    }

    100%{
        transform: translateX(-50%) scaleX(2);
    }

    // 100%{
    //     transform: translateX(0) scaleX(1.2);
    // }
}

// @keyframes float {
//     0%{
//         top: 50%;
//     }
//     50%{
//         top: 60%;
//     }
//     100%{
//         top: 50%;
//     }
// }