* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-transition: 0.64s cubic-bezier(0.175, 0.885, 0.32, 1);
  transition: 0.64s cubic-bezier(0.175, 0.885, 0.32, 1);
}

:root {
  --inverse-bg: #28282f;
  --inverse-text: #28282f;
  --body-bg: #232329;
  --logo: #1da1f2;
  --logo-shadow: #232329;
  --footer-bg: #3b3b43;
  --bg: #28282f;
  --contact-bg: #1da1f2;
  --contact-shadow: 8px 6px 32px rgba(29, 160, 242, 0.349);
  --contact-text: #f9fafb;
  --link-color: #1da1f2;
  --link-color-hover: #91b1ee;
  --text: #f5f8fa;
  --menu-shadow: 0 0 32px rgba(35, 102, 187, 0.28);
  --bg: #fff;
  --inverse-bg: #28282f;
  --inverse-text: #f5f8fa;
  --footer-bg: #ffff;
  --body-bg: #f5f8fa;
  --logo: #28282f;
  --logo-shadow: #d1dae0;
  --contact-bg: #1da1f2;
  --contact-shadow: 8px 6px 32px rgba(29, 160, 242, 0.349);
  --contact-text: #f9fafb;
  --link-color: #1da1f2;
  --link-color-hover: #91b1ee;
  --text: #5e697b;
  --menu-shadow: 0 0 32px rgba(40, 40, 47, 0.37);
}

h1, h2, h3 {
  word-spacing: 1px;
  letter-spacing: 1px;
  font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.blue {
  color: #247bea;
}

.grey {
  color: #838a97;
}

#loader-cont {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 999;
  background: #f8fafc;
  -webkit-transition: 0.82s cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.82s cubic-bezier(0.19, 1, 0.22, 1);
}

#loader-cont .effect-element {
  position: absolute;
  width: 2000px;
  height: 2000px;
  background: #f8fafc;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
}

#loader-cont .center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#loader-cont .center .box {
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-transform: perspective(500px) rotate(30deg) skew(-30deg);
          transform: perspective(500px) rotate(30deg) skew(-30deg);
  -webkit-box-shadow: 50px 45px 15px rgba(0, 0, 0, 0.14);
          box-shadow: 50px 45px 15px rgba(0, 0, 0, 0.14);
  background: #eef3f7 url(../img/alphas.png);
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: 0.62s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.62s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #344052;
  animation: float 0.5s ease infinite alternate-reverse;
}

#loader-cont .center .box:hover {
  -webkit-transform: perspective(500px) rotate(30deg) skew(-30deg) translate(-30px, -30px);
          transform: perspective(500px) rotate(30deg) skew(-30deg) translate(-30px, -30px);
  -webkit-box-shadow: 105px 95px 50px rgba(0, 0, 0, 0.14);
          box-shadow: 105px 95px 50px rgba(0, 0, 0, 0.14);
}

#loader-cont .center .box:before {
  content: '';
  width: 100%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: skew(50deg) translate(-95%, 100px);
  transform: skew(50deg) translate(-95%, 100px);
  background: url(../img/wolff.png) #e2ebf3;
  background-size: 20px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#loader-cont .center .box:after {
  content: attr(data-name);
  width: 100%;
  height: 48%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-90deg) skew(-40deg) translate(15px, 150%);
          transform: rotate(-90deg) skew(-40deg) translate(15px, 150%);
  background: #eaf0f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: perspective(500px) rotate(30deg) skew(-30deg);
            transform: perspective(500px) rotate(30deg) skew(-30deg);
    -webkit-box-shadow: 50px 45px 15px rgba(0, 0, 0, 0.14);
            box-shadow: 50px 45px 15px rgba(0, 0, 0, 0.14);
  }
  100% {
    -webkit-transform: perspective(500px) rotate(30deg) skew(-30deg) translate(-30px, -30px);
            transform: perspective(500px) rotate(30deg) skew(-30deg) translate(-30px, -30px);
    -webkit-box-shadow: 105px 95px 50px rgba(0, 0, 0, 0.14);
            box-shadow: 105px 95px 50px rgba(0, 0, 0, 0.14);
  }
}

@keyframes float {
  0% {
    -webkit-transform: perspective(500px) rotate(30deg) skew(-30deg);
            transform: perspective(500px) rotate(30deg) skew(-30deg);
    -webkit-box-shadow: 50px 45px 15px rgba(0, 0, 0, 0.14);
            box-shadow: 50px 45px 15px rgba(0, 0, 0, 0.14);
  }
  100% {
    -webkit-transform: perspective(500px) rotate(30deg) skew(-30deg) translate(-30px, -30px);
            transform: perspective(500px) rotate(30deg) skew(-30deg) translate(-30px, -30px);
    -webkit-box-shadow: 105px 95px 50px rgba(0, 0, 0, 0.14);
            box-shadow: 105px 95px 50px rgba(0, 0, 0, 0.14);
  }
}

#menu {
  width: 100%;
  height: 64px;
  position: fixed;
  border-radius: 0 0 2em 2em;
  z-index: 4;
  font-weight: 600;
  font-family: "Techna",BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: var(--bg);
  -webkit-box-shadow: 0 0 32px rgba(35, 102, 187, 0.28);
          box-shadow: 0 0 32px rgba(35, 102, 187, 0.28);
}

#menu .logo-cont {
  width: 100%;
  position: relative;
  float: left;
  height: 100%;
  -webkit-transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#menu .logo-cont div {
  float: left;
}

#menu .logo-cont .text-cont {
  position: absolute;
  top: 50%;
  color: var(--text);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 26px;
  font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#menu .logo-cont .svg-cont {
  position: relative;
  height: 100%;
  width: 64px;
  color: var(--text);
  font-size: 26px;
  font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#menu .logo-cont .svg-cont svg {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#menu .logo-cont .svg-cont svg .a_1 {
  opacity: 1;
  fill: var(--logo);
  fill-opacity: 1;
  stroke: var(--body-bg);
  stroke-width: 2.47638321;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 166.29920959;
  stroke-opacity: 1;
}

#menu .logo-cont .svg-cont svg .a_2 {
  opacity: 1;
  fill: var(--logo-shadow);
  fill-opacity: 1;
  stroke: var(--logo);
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 166.29920959;
  stroke-opacity: 1;
}

#menu .logo-cont .svg-cont svg .a_3 {
  opacity: 1;
  fill: var(--footer-bg);
  fill-opacity: 1;
  stroke: var(--body-bg);
  stroke-width: 0;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 166.29920959;
  stroke-opacity: 1;
}

#menu nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: none;
}

#menu nav .inner {
  width: 100%;
  height: 100%;
  background: var(--bg);
  -webkit-clip-path: circle(25px at 90% 32px);
          clip-path: circle(25px at 90% 32px);
  pointer-events: none;
  -webkit-transition: 0.86s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.86s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#menu nav ul {
  width: 100%;
  padding: 1em;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-bottom: 0;
}

#menu nav ul li {
  margin: 12% 7%;
  color: var(--text);
  font-size: 36px;
  list-style-type: none;
}

#menu nav ul li a {
  text-decoration: none;
  position: relative;
  color: var(--text);
}

#menu nav ul li a:before {
  content: attr(data-name);
  position: absolute;
  top: 0;
  left: 0;
  color: #247bea;
  overflow: hidden;
  width: 0;
}

#menu nav ul li a:hover::before {
  width: 100%;
}

#menu nav ul li.contact-us {
  background: var(--contact-bg);
  width: 270px;
  padding: 6px 12px;
  border-radius: 36px;
  margin: 0 auto;
  -webkit-box-shadow: var(--contact-shadow);
          box-shadow: var(--contact-shadow);
}

#menu nav ul li.contact-us a {
  color: var(--contact-text);
}

@media screen and (min-width: 700px) {
  #menu nav {
    width: 70%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    float: left;
    pointer-events: all;
  }
  #menu nav .inner {
    width: 100%;
    height: 100%;
    background: transparent;
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%);
    pointer-events: all;
  }
  #menu nav ul {
    top: 0;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  #menu nav ul .slide {
    top: 50%;
    height: 64px;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
    pointer-events: none;
    z-index: -1;
    -webkit-transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  #menu nav ul .slide .slider {
    width: 70px;
    height: 4px;
    background: #344052;
    position: absolute;
    bottom: 0;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
    border-radius: 8px;
    -webkit-transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    opacity: 0;
  }
  #menu nav ul li {
    display: inline;
    font-size: 16px;
    color: var(--text);
  }
  #menu nav ul li.contact-us {
    width: unset;
  }
}

#menu .nav-button-cont {
  position: absolute;
  top: 32px;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  pointer-events: all;
  z-index: 999;
}

#menu .nav-button-cont div {
  height: 3.6px;
  margin: 0 0;
  position: absolute;
  width: 100%;
  -webkit-transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 36px;
  background: var(--text);
}

#menu .nav-button-cont div:nth-of-type(1) {
  top: 0;
  -webkit-transform: translate(0px, 18px) rotateZ(-45deg);
          transform: translate(0px, 18px) rotateZ(-45deg);
}

#menu .nav-button-cont div:nth-of-type(2) {
  top: 50%;
  -webkit-transform: translate(-100%, -50%) rotateZ(0);
          transform: translate(-100%, -50%) rotateZ(0);
  width: 0;
}

#menu .nav-button-cont div:nth-of-type(3) {
  bottom: 0;
  -webkit-transform: translate(0px, -18px) rotateZ(45deg);
          transform: translate(0px, -18px) rotateZ(45deg);
}

#menu .nav-button-cont .animatebars:nth-of-type(1) {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 5px) rotateZ(0deg) !important;
          transform: translate(-50%, 5px) rotateZ(0deg) !important;
  margin: 0;
  width: 60%;
}

#menu .nav-button-cont .animatebars:nth-of-type(2) {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(0deg) !important;
          transform: translate(-50%, -50%) rotateZ(0deg) !important;
  margin: 0;
  width: 80%;
}

#menu .nav-button-cont .animatebars:nth-of-type(3) {
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -5px) rotateZ(0deg) !important;
          transform: translate(-50%, -5px) rotateZ(0deg) !important;
  margin: 0;
}

.shownav {
  -webkit-clip-path: circle(100% at 50% 50%) !important;
          clip-path: circle(100% at 50% 50%) !important;
  pointer-events: all !important;
}

@media screen and (min-width: 700px) {
  .nav-button-cont {
    display: none;
  }
}

.sticky {
  position: fixed !important;
  top: 0;
  -webkit-transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.68s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-animation: bringdown 1s ease-in;
          animation: bringdown 1s ease-in;
  -webkit-box-shadow: 18px 0 28px rgba(0, 0, 0, 0.225);
          box-shadow: 18px 0 28px rgba(0, 0, 0, 0.225);
}

@-webkit-keyframes bringdown {
  0% {
    top: -74px;
  }
  100% {
    top: 0;
  }
}

@keyframes bringdown {
  0% {
    top: -74px;
  }
  100% {
    top: 0;
  }
}

.shownav {
  -webkit-clip-path: circle(100% at 50% 50%) !important;
          clip-path: circle(100% at 50% 50%) !important;
  pointer-events: all !important;
}

@media screen and (min-width: 700px) {
  #menu {
    border-radius: 0;
  }
  #menu .logo-cont {
    width: 30%;
  }
  .nav-button-cont {
    display: none;
  }
}

.sect {
  width: 100%;
  min-height: 100vh;
}

.intro-sect {
  height: 100vh;
}

.background {
  width: 100%;
  height: 120%;
  position: absolute;
  overflow: hidden;
  background: linear-gradient(80deg, rgba(36, 123, 234, 0.431), rgba(35, 102, 187, 0.8));
  padding: 64px 0 0 0;
}

.background .rect-group {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 80%;
  z-index: 3;
  -webkit-transform: translate(-30%, -10%) rotate(0deg);
          transform: translate(-30%, -10%) rotate(0deg);
}

.background .rect-group .rect {
  width: 250px;
  height: 150px;
  background: #e9f3fc;
  position: absolute;
  border-radius: 1em;
  top: 50%;
  left: 50%;
}

.background .rect-group .rect._1 {
  -webkit-transform: translate(-50%, -40%) rotate(0deg);
          transform: translate(-50%, -40%) rotate(0deg);
  opacity: 0.333;
}

.background .rect-group .rect._2 {
  -webkit-transform: translate(-60%, -60%) rotate(0deg);
          transform: translate(-60%, -60%) rotate(0deg);
  opacity: 0.666;
}

.background .rect-group .rect._3 {
  -webkit-transform: translate(calc(-60% - 50px), calc(-60% - 50px)) rotate(0deg);
          transform: translate(calc(-60% - 50px), calc(-60% - 50px)) rotate(0deg);
  opacity: 1;
  width: 300px;
  height: 200px;
}

.background .rect-group .rect._3 .codes {
  position: absolute;
  width: 78%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.background .rect-group .rect._3 .codes p {
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  color: #838a97;
}

.background .blink:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  background: #247bea;
  bottom: 0;
  -webkit-animation: blink 0.5s ease-in-out infinite;
          animation: blink 0.5s ease-in-out infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.background .round-rect {
  width: 950px;
  height: 850px;
  background: #fff;
  opacity: 1;
  position: absolute;
  border-radius: 60px;
  top: -10%;
  left: -360px;
  -webkit-box-shadow: inset 0 0 122px rgba(0, 0, 0, 0.18);
          box-shadow: inset 0 0 122px rgba(0, 0, 0, 0.18);
  -webkit-transform: translate(5%, 0) rotateZ(35deg);
          transform: translate(5%, 0) rotateZ(35deg);
}

.background .circle-group {
  position: absolute;
  width: 58%;
  height: 80%;
  right: 0;
}

.background .circle-group .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(80deg, #dee9f7, #c7daf1);
  -webkit-box-shadow: 16px 24px 32px rgba(52, 64, 82, 0.121);
          box-shadow: 16px 24px 32px rgba(52, 64, 82, 0.121);
  position: absolute;
  z-index: 2;
  -webkit-animation: rotate 14s linear infinite;
          animation: rotate 14s linear infinite;
}

.background .circle-group .circle.c_1 {
  position: absolute;
  top: 80%;
  right: 56%;
}

.background .circle-group .circle.c_2 {
  position: absolute;
  top: 60%;
  right: 100%;
}

.background .circle-group .circle.c_3 {
  position: absolute;
  top: 20%;
  right: 10%;
}

.square-group {
  position: absolute;
  width: 58%;
  height: 80%;
  right: 0;
}

.square-group .square {
  border-radius: 5px;
  background: linear-gradient(80deg, #dee9f7, #c7daf1);
  -webkit-box-shadow: 16px 24px 32px rgba(52, 64, 82, 0.121);
          box-shadow: 16px 24px 32px rgba(52, 64, 82, 0.121);
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2;
  -webkit-animation: rotate 14s linear infinite;
          animation: rotate 14s linear infinite;
}

.square-group .square.s_1 {
  position: absolute;
  top: 100%;
  right: 30%;
  width: 30px;
  height: 30px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.square-group .square.s_2 {
  position: absolute;
  top: 40%;
  right: 80%;
  width: 30px;
  height: 30px;
  -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
          animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.square-group .square.s_3 {
  position: absolute;
  top: 10%;
  right: 50%;
  width: 30px;
  height: 30px;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-15px, -15px) rotate(360deg);
            transform: translate(-15px, -15px) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(-15px, -15px) rotate(0deg);
            transform: translate(-15px, -15px) rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-15px, -15px) rotate(360deg);
            transform: translate(-15px, -15px) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(-15px, -15px) rotate(0deg);
            transform: translate(-15px, -15px) rotate(0deg);
  }
}

.intro-sect .main {
  width: 100%;
  height: 100%;
  position: relative;
}

.intro-sect .main .main-header {
  width: 70%;
  height: 50%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: calc(30% + 64px);
  left: 20%;
  z-index: 2;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
}

.intro-sect .main .main-header h1 {
  font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.8em;
  color: #21252b;
  font-weight: 400;
}

.intro-sect .main .main-header #glare-button {
  width: 12em;
  height: 5.2em;
  border-radius: 12em;
}

@media screen and (min-width: 700px) {
  .intro-sect .main .main-header {
    width: 40%;
    -webkit-transform: translate(-20%, -50%);
            transform: translate(-20%, -50%);
  }
  .intro-sect .main .main-header h1 {
    font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4em;
    color: #21252b;
    font-weight: 400;
  }
}

.sect.about {
  position: relative;
  background: #21252b;
  z-index: 1;
}

.sect.about .curve-svg-container {
  position: absolute;
  -webkit-transform: translate(0, -100%) rotateX(180deg);
          transform: translate(0, -100%) rotateX(180deg);
  width: 100%;
  top: calc(25vw);
}

.sect.about .curve-svg-container svg {
  fill: #21252b;
}

.sect.about .sect-divide {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  overflow: hidden;
}

.sect.about .sect-divide svg {
  position: absolute;
  width: 200%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translateX(0) scaleX(3.5);
          transform: translateX(0) scaleX(3.5);
}

.sect.about .sect-divide svg #wave {
  fill: #21252b;
  stroke: none;
  stroke-width: 0.26458332px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
}

.sect.about .sect-divide svg.waves1 {
  animation: wave-motion 10s ease-in infinite alternate-reverse;
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
  opacity: 0.25;
}

.sect.about .sect-divide svg.waves1 #wave {
  fill: #344052;
}

.sect.about .sect-divide svg.waves2 {
  animation: wave-motion 14s ease-in infinite alternate-reverse;
  -webkit-transform: translate(-400px);
          transform: translate(-400px);
  opacity: 0.5;
}

.sect.about .sect-divide svg.waves2 #wave {
  fill: #212a2b;
}

.sect.about .sect-divide svg.waves3 {
  animation: wave-motion 10s ease-in-out infinite alternate-reverse;
  -webkit-transform: translate(-300px);
          transform: translate(-300px);
  opacity: 1;
}

.sect.about .section-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  overflow: hidden;
}

.sect.about .section-bg svg {
  position: absolute;
  width: 800px;
  height: 800px;
  top: 0%;
  left: 10%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

.sect.about .section-bg svg path {
  solid-color: #000000;
  solid-opacity: 1;
  vector-effect: none;
  fill: none;
  fill-opacity: 1;
  fill-rule: nonzero;
  stroke: #f9f9f9;
  stroke-opacity: 0.4;
  stroke-width: 0.1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  color-rendering: auto;
}

.sect-about {
  position: relative;
  width: 100%;
  padding: 30% 0 0 0;
}

.sect-about .sect-text {
  padding: 6px 14px;
  font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #e2ebf3;
  border: 2px solid #e2ebf3;
  position: absolute;
  display: block;
  overflow: hidden;
  top: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  -webkit-transition: 0.34s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.34s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sect-about .sect-text::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #e2ebf3;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.34s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.34s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sect-about .sect-text:hover {
  color: #344052;
}

.sect-about .sect-text:hover::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: -1;
}

.sect-about .sect-item {
  display: block;
}

.sect-about .sect-item .sect-heading {
  font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #eaf0f6;
  width: 78%;
  margin: 0 auto 1.35em auto;
  text-align: center;
  position: relative;
}

.sect-about .sect-item .sect-heading h1 {
  margin: 0.25em 0.5em;
  color: #eaf0f6;
}

.sect-about .sect-item .sect-heading p {
  margin: 0.15em 0.5em;
  font-weight: 100;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sect-about .sect-item .sect-heading p span {
  font-family: monospace;
  background: #838a97;
  padding: 1px 3px;
  border-radius: 2px;
  font-weight: 100;
}

.sect-about .sect-item .sect-images {
  width: 100%;
  height: 200px;
  position: relative;
  top: 0;
  margin: 0 0 5em 0;
}

.sect-about .sect-item .sect-images .sub-image {
  overflow: hidden;
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-transition: 0.54s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.54s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sect-about .sect-item .sect-images .sub-image:hover {
  z-index: 2;
  -webkit-box-shadow: 0 0 34px rgba(0, 0, 0, 0.48);
          box-shadow: 0 0 34px rgba(0, 0, 0, 0.48);
}

.sect-about .sect-item .sect-images .sub-image:nth-child(1) {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-150%, -60%);
          transform: translate(-150%, -60%);
}

.sect-about .sect-item .sect-images .sub-image:nth-child(1):hover {
  -webkit-transform: translate(-150%, -60%) scale(1.2);
          transform: translate(-150%, -60%) scale(1.2);
}

.sect-about .sect-item .sect-images .sub-image:nth-child(1):active {
  -webkit-transform: translate(-150%, -60%) scale(0.8);
          transform: translate(-150%, -60%) scale(0.8);
}

.sect-about .sect-item .sect-images .sub-image:nth-child(2) {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(100%, 0%);
          transform: translate(100%, 0%);
  width: 80px;
  height: 80px;
}

.sect-about .sect-item .sect-images .sub-image:nth-child(2):hover {
  -webkit-transform: translate(100%, 0%) scale(1.2);
          transform: translate(100%, 0%) scale(1.2);
}

.sect-about .sect-item .sect-images .sub-image:nth-child(2):active {
  -webkit-transform: translate(100%, 0%) scale(0.82);
          transform: translate(100%, 0%) scale(0.82);
}

.sect-about .sect-item .sect-images .sub-image:nth-child(3) {
  top: 50%;
  left: 50%;
  width: 180px;
  height: 180px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sect-about .sect-item .sect-images .sub-image:nth-child(3):hover {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.sect-about .sect-item .sect-images .sub-image:nth-child(3):active {
  -webkit-transform: translate(-50%, -50%) scale(0.82);
          transform: translate(-50%, -50%) scale(0.82);
}

.sect-about .sect-item .sect-images .sub-image:nth-child(3) img {
  width: 100%;
  height: unset;
}

.sect-about .sect-item .sect-images .sub-image:nth-child(4) {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-100%, 60%);
          transform: translate(-100%, 60%);
  width: 90px;
  height: 90px;
}

.sect-about .sect-item .sect-images .sub-image:nth-child(4):hover {
  -webkit-transform: translate(-100%, 60%) scale(1.2);
          transform: translate(-100%, 60%) scale(1.2);
}

.sect-about .sect-item .sect-images .sub-image:nth-child(4):active {
  -webkit-transform: translate(-100%, 60%) scale(0.82);
          transform: translate(-100%, 60%) scale(0.82);
}

.sect-about .sect-item .sect-images .sub-image img {
  height: 100%;
}

.sect-about .sect-item .sect-team-mates {
  width: 78%;
  margin: 1.35em auto 1.35em auto;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.sect-about .sect-item .sect-team-mates .team-mates-heading {
  width: 100%;
  margin: 1em 0;
  color: #e2ebf3;
}

.sect-about .sect-item .sect-team-mates .mates-cont {
  position: relative;
  overflow-y: hidden;
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: var(--dur) cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: var(--dur) cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate {
  min-width: 230px;
  padding: 1em;
  margin: 1em;
  background: #e2ebf3;
  border-radius: 8px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  position: relative;
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .team-mate-bg {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 30%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: #247bea;
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .team-mate-bg svg#mate-bg {
  width: 100%;
  height: 100%;
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .team-mate-bg svg#mate-bg path {
  fill: #344052;
  fill-opacity: 0.2;
  stroke-width: 1.5;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .profile-cont {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  margin: 3.5em auto 1.25em auto;
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .profile-cont::after {
  content: "";
  border: 6px solid #344052;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .profile-cont .profile {
  overflow: hidden;
  width: 88%;
  height: 88%;
  border-radius: 50%;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .profile-cont .profile h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--text);
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .profile-cont .profile img {
  width: 100%;
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .heading-cont {
  width: 100%;
  text-align: center;
  font-family: "Techna", BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0.75em 0;
  position: relative;
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .heading-cont h1 {
  color: #344052;
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .description-cont {
  width: 100%;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  margin: 1.25em 0 1.25em 0;
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .description-cont p {
  padding: 0 1em 0 1em;
  margin: 0.25em 0;
  color: #344052;
  font-weight: bold;
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .description-cont p:nth-last-child(1) {
  font-weight: normal;
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .social-cont {
  width: 100%;
  text-align: center;
  position: relative;
  margin: 1.25em 0 1.25em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .social-cont .social {
  padding: 4px 8px;
  background: #e2ebf3;
  border-radius: 4px;
  -webkit-transition: 0.64s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: 0.64s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .social-cont .social:hover {
  -webkit-box-shadow: 0 0 20px rgba(36, 123, 234, 0.24);
          box-shadow: 0 0 20px rgba(36, 123, 234, 0.24);
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  z-index: 2;
}

.sect-about .sect-item .sect-team-mates .mates-cont .cont-slider .team-mate .social-cont .social a {
  color: #247bea;
  font-size: 1.75em;
}

@media screen and (min-width: 700px) {
  .sect-about {
    position: relative;
    width: 92%;
    margin: 0 auto;
    padding: 10% 0 0 0;
  }
  .sect-about .sect-text {
    top: 0;
    left: calc(0% + 1em);
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .sect-about .sect-item .sect-heading {
    width: 50%;
    margin: 0 auto 1.35em auto;
    padding: 0 2em 0 0;
    text-align: left;
    float: right;
    position: relative;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .sect-about .sect-item .sect-heading h1 {
    margin: 0.25em 12px;
  }
  .sect-about .sect-item .sect-heading p {
    margin: 0.25em 12px;
  }
  .sect-about .sect-item .sect-images {
    width: 50%;
    float: right;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .sect-about .sect-item .sect-team-mates .mates-cont {
    overflow: hidden;
  }
  .sect-about .sect-item .sect-team-mates .mates-cont .cont-slider {
    -webkit-transition: var(--dur) cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: var(--dur) cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-animation: mke_shft_crsl var(--dur) linear 2s infinite;
            animation: mke_shft_crsl var(--dur) linear 2s infinite;
  }
  .sect-about .sect-item .sect-team-mates .mates-cont .cont-slider:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

@-webkit-keyframes mke_shft_crsl {
  0% {
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
  }
}

@keyframes mke_shft_crsl {
  0% {
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
  }
  50% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(15%);
            transform: translateX(15%);
  }
}

@media screen and (min-width: 900px) {
  .sect-about .sect-items .sect-images .sub-image:nth-child(1) {
    width: 180px;
    height: 180px;
  }
  .sect-about .sect-items .sect-images .sub-image:nth-child(2) {
    width: 160px;
    height: 160px;
    -webkit-transform: translate(40%, 0);
            transform: translate(40%, 0);
  }
  .sect-about .sect-items .sect-images .sub-image:nth-child(2):hover {
    -webkit-transform: translate(40%, 0) scale(1.2);
            transform: translate(40%, 0) scale(1.2);
  }
  .sect-about .sect-items .sect-images .sub-image:nth-child(2):active {
    -webkit-transform: translate(40%, 0) scale(0.82);
            transform: translate(40%, 0) scale(0.82);
  }
  .sect-about .sect-items .sect-images .sub-image:nth-child(3) {
    width: 240px;
    height: 240px;
  }
  .sect-about .sect-items .sect-images .sub-image:nth-child(4) {
    width: 110px;
    height: 110px;
  }
}

.sect-inner-wrapper {
  height: 100%;
  overflow-x: visible;
}

@-webkit-keyframes wave-motion {
  0% {
    -webkit-transform: translateX(0) scaleX(2);
            transform: translateX(0) scaleX(2);
  }
  100% {
    -webkit-transform: translateX(-50%) scaleX(2);
            transform: translateX(-50%) scaleX(2);
  }
}

@keyframes wave-motion {
  0% {
    -webkit-transform: translateX(0) scaleX(2);
            transform: translateX(0) scaleX(2);
  }
  100% {
    -webkit-transform: translateX(-50%) scaleX(2);
            transform: translateX(-50%) scaleX(2);
  }
}
/*# sourceMappingURL=style.css.map */