@import url("https://fonts.googleapis.com/css?family=Bitter|Noto+Serif|PT+Serif|Roboto+Slab|Work+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
}

.main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont {
  width: 200px;
  height: 200px;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 700px;
          perspective: 700px;
  text-align: center;
  margin: 0 10%;
  font-family: 'Bitter', serif;
  font-family: 'PT Serif', serif;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.cont #glare-button {
  font-family: 'Work Sans', sans-serif;
  min-width: 5em;
  min-height: 4.5em;
  background: -webkit-gradient(linear, left top, right top, from(#247bea), to(#6d9dd9));
  background: linear-gradient(90deg, #247bea, #6d9dd9);
  /* -webkit-box-shadow: 0 0 34px -2px rgba(44, 54, 231, 0.45);
          box-shadow: 0 0 34px -2px rgba(44, 54, 231, 0.45); */
  outline: none;
  border: none;
  border-radius: 0.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* overflow: hidden; */
}
.cont #glare-button::before {
        content: "";
        width:  100%;
        height: 100%;
        background: -webkit-gradient(linear, left top, right top, from(rgba(36, 122, 234, 0.767)), to(rgba(109, 158, 217, 0.774)));
        background: linear-gradient(90deg, rgba(36, 122, 234, 0.733), rgba(109, 158, 217, 0.788));
        outline: none;
        border: none;
        border-radius: 12em;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        overflow: hidden;
      z-index: -1;
      filter: blur(0px);
      transition: 0.86s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.cont #glare-button:hover::before {
        filter: blur(10px);
}

.cont #glare-button:active {
  -webkit-transform: translate(-50%, -50%) translateZ(-22px);
          transform: translate(-50%, -50%) translateZ(-22px);
}

.cont #glare-button:hover .glare {
  opacity: 0.5;
}

.cont #glare-button:active .glare {
  opacity: 0.5;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: translate(var(--tx, 0), var(--ty, 0)) scale(2);
          transform: translate(var(--tx, 0), var(--ty, 0)) scale(2);
}

.cont #glare-button .glare {
  width: 50px;
  height: 50px;
  position: absolute;
  -webkit-transform: translate(var(--tx, 0), var(--ty, 0));
          transform: translate(var(--tx, 0), var(--ty, 0));
  background: white;
  opacity: 0;
  border-radius: 50%;
  -webkit-filter: blur(35px);
          filter: blur(35px);
  -webkit-transition: opacity 0.32s cubic-bezier(0.82, -0.87, 0.11, 1.75), scale 0.12s cubic-bezier(0.79, 0.32, 0.11, 1.75), -webkit-filter 0.2s ease;
  transition: opacity 0.32s cubic-bezier(0.82, -0.87, 0.11, 1.75), scale 0.12s cubic-bezier(0.79, 0.32, 0.11, 1.75), -webkit-filter 0.2s ease;
  transition: opacity 0.32s cubic-bezier(0.82, -0.87, 0.11, 1.75), filter 0.2s ease, scale 0.12s cubic-bezier(0.79, 0.32, 0.11, 1.75);
  transition: opacity 0.32s cubic-bezier(0.82, -0.87, 0.11, 1.75), filter 0.2s ease, scale 0.12s cubic-bezier(0.79, 0.32, 0.11, 1.75), -webkit-filter 0.2s ease;
}

.cont #glare-button span {
  color: #fff;
  font-size: 18px;
}

#button2 {
  width: 14em;
  height: 5em;
  background: -webkit-gradient(linear, left top, right top, from(#2c35f7), to(#6232ee));
  background: linear-gradient(90deg, #2c35f7, #6232ee);
  -webkit-box-shadow: 0 0 20px -2px rgba(4, 7, 56, 0.45);
          box-shadow: 0 0 20px -2px rgba(4, 7, 56, 0.45);
  outline: none;
  border: none;
  border-radius: 0.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
          transform: translate(-50%, -50%) rotateX(var(--rx, 0)) rotateY(var(--ry, 0));
  overflow: hidden;
  -webkit-transition: 0.22s cubic-bezier(0.34, 0.34, 0.17, 1.55);
  transition: 0.22s cubic-bezier(0.34, 0.34, 0.17, 1.55);
}

#button2:hover .glare2 {
  opacity: 0.15;
}

#button2:hover span {
  -webkit-transform: translate(-50%, -50%) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(15px);
          transform: translate(-50%, -50%) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(15px);
}

#button2:active {
  -webkit-transform: translate(-50%, -50%) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(-20px);
          transform: translate(-50%, -50%) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(-20px);
}

#button2:active .glare2 {
  opacity: 0.25;
}

#button2:active span {
  -webkit-transform: translate(-50%, -50%) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(40px);
          transform: translate(-50%, -50%) rotateX(var(--rx, 0)) rotateY(var(--ry, 0)) translateZ(40px);
}

#button2 .glare2 {
  width: 120px;
  height: 120px;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: white;
  opacity: 0.1;
  border-radius: 50%;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transition: opacity 0.82s ease, -webkit-transform 0.32s ease-out;
  transition: opacity 0.82s ease, -webkit-transform 0.32s ease-out;
  transition: transform 0.32s ease-out, opacity 0.82s ease;
  transition: transform 0.32s ease-out, opacity 0.82s ease, -webkit-transform 0.32s ease-out;
}

#button2 span {
  color: #fff;
  font-size: 18px;
  display: block;
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.32s ease;
  transition: 0.32s ease;
}
/*# sourceMappingURL=style.css.map */