* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Montserrat,'Techna Sans Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-family: 'Techna Sans Regular';
}

:root {
  --main: #2087ea;
  --main-transparent:  rgba(29, 160, 242, 0.32);
  --text-v1: #5e697b;
  --text-v2: #2d333d;
}

.action-btn {
  padding: 12px 24px;
  border: 2px solid var(--main);
  border-radius: 32px;
  background: transparent;
  color: var(--main) !important;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.action-btn, .action-btn *, .action-btn::before, .action-btn::after {
  -webkit-transition: all 0.32s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.32s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.action-btn::before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: var(--main);
  z-index: -1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.action-btn:hover {
  -webkit-box-shadow: 6px 12px 32px var(--main-transparent);
          box-shadow: 6px 12px 32px var(--main-transparent);
  color: #fff !important;
}

.action-btn:hover::before {
  right: auto;
  left: 0;
  width: 100%;
}

body {
  overflow-x: hidden;
}

header#site-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, 0.09);
          box-shadow: 0 12px 12px rgba(0, 0, 0, 0.09);
  padding: 12px;
  background: #fff;
  border-radius: 0 0 25px 25px;
  height: 70px;
}

header#site-header * {
  -webkit-transition: all 0.32s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.32s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

header#site-header *::before, header#site-header *::after {
  -webkit-transition: all 0.42s cubic-bezier(0.45, 0.79, 0.14, 1.49);
  transition: all 0.42s cubic-bezier(0.45, 0.79, 0.14, 1.49);
}

header#site-header #site-logo {
  display: inline-block;
  width: 100%;
  text-align: center;
}

header#site-header #site-logo .logo-svg-cont {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(12px, -50%);
          transform: translate(12px, -50%);
}

header#site-header #site-logo .logo-svg-cont svg path.cls-1 {
  fill: #2087ea;
}

header#site-header #site-logo .logo-svg-cont svg .pathcls-2 {
  fill: #262b2c;
}

header#site-header #site-logo .logo-svg-cont svg path.cls-3 {
  fill: #383f48;
}

header#site-header #site-logo h1 {
  color: var(--text-v1);
  display: inline-block;
}

nav#site-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 12px;
  text-align: center;
  visibility: hidden;
  pointer-events: none;
}

nav#site-nav.nav-open {
  visibility: visible;
  pointer-events: all;
  -webkit-clip-path: circle(1000px at 90% -10%);
          clip-path: circle(1000px at 90% -10%);
}

nav#site-nav ul {
  list-style-type: none;
}

nav#site-nav ul li {
  font-size: xx-large;
  padding: 8px;
  color: var(--text-v1);
  margin: 24px 0;
}

nav#site-nav ul li a {
  text-decoration: none;
  font-weight: 600;
  text-transform: capitalize;
  color: inherit;
}

nav#site-nav ul li.action-btn {
  padding: 6px 24px;
}

#site-nav-btn {
  cursor: pointer;
  right: 5%;
  top: 50%;
  -webkit-transform: translate(-5%, -50%);
          transform: translate(-5%, -50%);
  z-index: 4;
  background: transparent;
  border: none;
  position: absolute;
  height: 20px;
  width: 30px;
}

#site-nav-btn div, #site-nav-btn::before, #site-nav-btn::after {
  position: absolute;
  content: '';
  width: 30px;
  height: 3px;
  background: var(--text-v1);
  left: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

#site-nav-btn::before {
  top: 0;
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
}

#site-nav-btn::after {
  top: 100%;
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
}

#site-nav-btn.active::before {
  -webkit-transform: translate(0, 10px) rotate(45deg);
          transform: translate(0, 10px) rotate(45deg);
}

#site-nav-btn.active::after {
  -webkit-transform: translate(0, -10px) rotate(-45deg);
          transform: translate(0, -10px) rotate(-45deg);
}

#site-nav-btn.active div {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
}

@supports (display: flex) or ((-webkit-clip-path: circle(100px at 90% -15%)) or (clip-path: circle(100px at 90% -15%))) or ((position: -webkit-sticky) or (position: sticky)) {
  header#site-header {
    position: -webkit-sticky;
    position: sticky;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header#site-header #site-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav#site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-clip-path: circle(100px at 90% -15%);
            clip-path: circle(100px at 90% -15%);
  }
}

@media screen and (min-width: 768px) {
  header#site-header {
    border-radius: 0;
    display: inline-block;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 70px;
  }
  header#site-header #site-logo {
    position: relative;
    width: 200px;
    text-align: right;
  }
  nav#site-nav {
    position: relative;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    -webkit-clip-path: circle(1000px at 90% -10%);
            clip-path: circle(1000px at 90% -10%);
    text-align: right;
    float: right;
    width: calc(100% - 200px);
  }
  nav#site-nav ul {
    width: 100%;
  }
  nav#site-nav ul li {
    display: inline-block;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: initial;
    padding: 0 4% 0 0;
    font-size: large;
    margin: 0;
  }
  #site-nav-btn {
    display: none;
  }
  @supports (display: flex) {
    header#site-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    header#site-header #site-logo {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
    }
    nav#site-nav {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
    }
  }
}

main {
  margin-top: 60px;
  padding: 0 28px;
  overflow: hidden;
}

@supports (display: flex) {
  main {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding: 0 72px;
  }
}

section#site-hero {
  width: 100%;
  display: block;
  min-height: calc(100vh - 70px);
}

section#site-hero header.text-section h1 {
  color: var(--text-v2);
}

section#site-hero header.text-section p {
  color: var(--text-v1);
}

section#site-hero header.text-section h1 {
  font-size: 36px;
  margin: 0 0 16px 0;
}

section#site-hero header.text-section p {
  font-size: 18px;
  margin: 0 0 16px 0;
}

section#site-hero header.text-section button {
  font-size: 18px;
}

@supports (display: flex) {
  section#site-hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  section#site-hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section#site-hero::before {
    content: '';
    width: 600px;
    height: 600px;
    position: absolute;
    background: var(--main);
    border-radius: 50%;
    z-index: -1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(10%, -30%);
            transform: translate(10%, -30%);
  }
  section#site-hero::after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    background: var(--main-transparent);
    -webkit-backdrop-filter: blur(16px);
            backdrop-filter: blur(16px);
    border-radius: 50%;
    z-index: -1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(20%, -80%);
            transform: translate(20%, -80%);
  }
  section#site-hero header.text-section h1 {
    font-size: 42px;
  }
}

section#site-services {
  min-height: 100vh;
  margin-top: 64px;
}

section#site-services::before, section#site-services::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

section#site-services::before {
  content: attr(data-section-tag);
  font-size: x-large;
  -webkit-transform: translate(-72px, 0) rotate(90deg);
          transform: translate(-72px, 0) rotate(90deg);
}

section#site-services::after {
  background: var(--text-v2);
  -webkit-transform: translate(-26px, calc(-100% - 42px));
          transform: translate(-26px, calc(-100% - 42px));
  width: 2px;
  height: 72px;
}

section#site-services header {
  margin: 0 0 24px 0;
}

section#site-services header h1 {
  color: var(--text-v2);
}

section#site-services header p {
  color: var(--text-v1);
}

section#site-services header h1 {
  font-size: 36px;
}

section#site-services header :nth-child(n+1) {
  margin-bottom: 12px;
}

section#site-services .site-gallery {
  width: 100%;
  margin: 12px 0 12px 0;
}

section#site-services .site-gallery .gallery-item {
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  border: 2px solid var(--text-v1);
  margin-top: 24px;
}

section#site-services .site-gallery .gallery-item h1 {
  color: var(--text-v2);
}

section#site-services .site-gallery .gallery-item p {
  color: var(--text-v1);
}

section#site-services .site-gallery .gallery-item :nth-child(n+1) {
  margin-bottom: 16px;
}

section#site-services .site-gallery .gallery-item .cover-section {
  background: var(--main);
  height: 120px;
  width: 100%;
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  section#site-services {
    width: 100%;
    position: relative;
  }
  section#site-services header {
    width: 40%;
    float: left;
    padding-right: 12px;
  }
  section#site-services .site-gallery {
    width: 60%;
    float: left;
    padding-left: 12px;
    margin-top: 0;
  }
  section#site-services .site-gallery section.gallery-item {
    width: 46%;
    margin: 0 2%;
    float: left;
    position: relative;
  }
  section#site-services .site-gallery section.gallery-item:nth-of-type(even) {
    margin-top: 32px;
  }
  @supports (display: grid) {
    section#site-services {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 3.5fr 2fr;
          grid-template-columns: 3.5fr 2fr;
      gap: 32px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100%;
    }
    section#site-services header {
      -ms-grid-column: 2;
      grid-column: 2;
      width: 100%;
      padding: 0;
    }
    section#site-services .site-gallery {
      -ms-grid-column: 1;
      grid-column: 1;
      -ms-grid-row: 1;
      grid-row: 1;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
      -webkit-column-gap: 24px;
              column-gap: 24px;
      width: 100%;
    }
    section#site-services .site-gallery section.gallery-item {
      width: 100%;
      margin: 0;
      float: none;
    }
    section#site-services .site-gallery section.gallery-item:nth-of-type(odd) {
      margin-bottom: 24px;
    }
    section#site-services .site-gallery section.gallery-item:nth-of-type(even) {
      margin-top: 24px;
    }
  }
}
/*# sourceMappingURL=styles.css.map */