/********
Project name: Signy
Author: Miracle Onyenma, Alphas, originalmiracle.io
Last edited: Monday, 18th June 2019 

Details*: Sign in form with form/input validation and interactive UI. Plus animations

Alphas © 2019 All rights reserved.

team: https://facebook.com/computeralphas 
me: https://twitter.com/MiOnyenma
    https://facebook.com/miracle.onyenma.1
    OR
    use the social buttons on the form.
********/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 1em;
	font-family: "montserrat-regular";
	-webkit-transition: all 0.4s ease;
	transition:all 0.5s ease;
}

button{
	cursor: pointer;
}

body{
    background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.2) 100%  );
    background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.2) 100%  );
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0, rgba(0, 0, 0, 0.2) 100%  );
}

#loadercont{
	width: 100%;
	height:100vh;
	position: fixed;
	background: #232329;
	z-index: 99;
}

#pgloader{
	width: 120px;
	height: 120px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

}

.line{
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke: #2196f3;
	stroke-width:12; 
	fill: none;
	stroke-dasharray: 180, 180;
	stroke-dashoffset: 0;
	-webkit-animation: dash 1s ease-in infinite;
	animation: dash 1s ease-in infinite;

}

@-webkit-keyframes dash{
	0%{
		stroke-dasharray: 2, 180;
		stroke-dashoffset: 0;
	}
	50%{
		stroke-dasharray: 180, 180;
		stroke-dashoffset: -100;
	}
	100%{
		stroke-dasharray: 2, 180;
		stroke-dashoffset: 0;

	}
}

@keyframes dash{
	0%{
		stroke-dasharray: 2, 180;
		stroke-dashoffset: 0;
	}
	50%{
		stroke-dasharray: 180, 180;
		stroke-dashoffset: -100;
	}
	100%{
		stroke-dasharray: 2, 180;
		stroke-dashoffset: 0;

	}
}



.container{
	width: 300px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: perspective(320px) translate(-50%, -50%);
	transform: perspective(320px) translate(-50%, -50%);
}

.validation{
	width: 300px;
	Background: #232329;
	padding: 5%;
	border-radius: 8px;
	position:absolute;
	-webkit-transform: perspective(350px);
	transform: perspective(350px);
	text-align: center;
}

.validation h1{

	text-align : left;
	color: #eee;
	margin: 6% 4% 4% 11%;
	font-size: 2rem;	
}

#loader{
	text-align: center;
	margin: 3% 0;
	width: 120px;
	Height: 120px;
	-webkit-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	
}

@-webkit-keyframes rotate{
	from{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	
	to{
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}

}


@keyframes rotate{
	from{
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	
	to{
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}

}

.validation svg circle{
	fill: none;
	stroke: #fff;
	Stroke-opacity: 0.6;
	stroke-width: 8px;
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke-miterlimit:4;
	stroke-dasharray: 120, 200;
	stroke-dashoffset: -200;
	-webkit-animation: dashturn 4s linear infinite;
	animation: dashturn 4s linear infinite;
}



@-webkit-keyframes dashturn{
	0%{
		stroke-dasharray: 2, 200;
		stroke-dashoffset: 118;
	}
	50%{
		stroke-dasharray: 190, 200;
		stroke-dashoffset:-10;
	}
	100%{
		stroke-dasharray: 190, 200;
		stroke-dashoffset:-200;
	}

}

@keyframes dashturn{
	0%{
		stroke-dasharray: 2, 200;
		stroke-dashoffset: 118;
	}
	50%{
		stroke-dasharray: 190, 200;
		stroke-dashoffset:-10;
	}
	100%{
		stroke-dasharray: 190, 200;
		stroke-dashoffset:-200;
	}

}




#success{
	text-align: center;
	margin: 3% 0;
	width: 120px;
	Height: 120px;

}

.polyline{
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke: #2196f3;
	stroke-width:12; 
	fill: none;
	stroke-dasharray: 180, 180;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.goodtgo{
	transform-origin: center center;
	animation: gtg 1.4s ease infinite;
	-webkit-animation: gtg 1.4s ease infinite;
}


@-webkit-keyframes gtg{
	0%{
		stroke-dasharray: 0, 180;
		-webkit-transform: scale(1.04);
	}
	25%{
		-webkit-transform: scale(0.90);
		transform: scale(1);
	}
	50%{
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}
	75%{
		stroke-dasharray: 180, 180;
		-webkit-transform: scale(0.92);
		transform: scale(0.92);
	}
	80%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	85%{
		-webkit-transform: scale(0.94);
		transform: scale(0.94);
	}
	90%{
		-webkit-transform: scale(0.99);
		transform: scale(0.99);
	}
	95%{
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}
	100%{
		-webkit-transform: scale(1.04);
		transform: scale(1.04);
		stroke-dasharray: 170, 180;

	}
}

@keyframes gtg{
	0%{
		stroke-dasharray: 0, 180;
		-webkit-transform: scale(1.04);
	}
	25%{
		-webkit-transform: scale(0.90);
		transform: scale(1);
	}
	50%{
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}
	75%{
		stroke-dasharray: 180, 180;
		-webkit-transform: scale(0.92);
		transform: scale(0.92);
	}
	80%{
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	85%{
		-webkit-transform: scale(0.94);
		transform: scale(0.94);
	}
	90%{
		-webkit-transform: scale(0.99);
		transform: scale(0.99);
	}
	95%{
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
	}
	100%{
		-webkit-transform: scale(1.04);
		transform: scale(1.04);
		stroke-dasharray: 170, 180;

	}
}


#error{
	text-align: center;
	margin: 3% 0;
	width: 120px;
	Height: 120px;

}

#error line{
	stroke-linecap:round;
	stroke-linejoin:round;
	stroke: #d03848;
	stroke-width:12; 
	fill: none;
	stroke-dasharray: 180, 180;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.validation button{
	margin: 4% 3% 2% 3%;
	background-color: transparent;
	border: 2px solid #2196F3;
	padding: 3% 5%;
	border-radius: 4em;
	font-size: 1em;
	color: #eee;

	-webkit-transition: all 0.4s ease;
	transition:all 0.4s ease;
}

.validation button:hover{
/*	color: #eee;
*/	background-color: #2196F3;
	box-shadow: 0 0 12px rgba(33, 150, 243, 0.78);

}



.formwrapper{
	width: 300px;
	background-color: #232329;
	box-shadow: 0 0 28px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
}



.formwrapper form{
	width: 100%;
	height: 100%;
}

.formwrapper form h1{
	padding: 5% 0 0 0;
    color: #eee;
	margin: 0 4% 4% 11%;
	font-size: 2rem;	
}

.form{
	height: 100%;
}

#wrapper{
	background-color: rgba(255, 255, 255, 0.04);
    padding: 1% 0;
    margin: 2% 0 6% 0;
}

.inputsCont{
	width: 92%;
	margin: 0 auto 0 6%;
	/*    text-align: center;
*/
}

.Cont{
	margin: 11% 0;

}

.Cont input{
	border: none ;
	background-color: transparent;
	outline: none;
	border-bottom: 2px solid  #2196F3;
	padding: 5px 0 5px 0 ;
	display: inline-block;
}

.Cont label{
	display: inline-block;
	color: rgba(162, 162, 162, 0.78);
	margin: 5px 5px 5px 0 ;
	-webkit-transform: translateY(6px); 
	transform: translateY(6px); 
	
}


#name-check, #pass-check{
	float: right;
	-webkit-transform: translateY(12px); 
	transform: translateY(12px); 

}

.names input::placeholder{
	color: rgba(255, 255, 243, 0.7) !important;
	font-weight: 100;
}

.names input{
	color: #eee;
}

.pass input::placeholder{
	color: rgba(255, 255, 243, 0.7);
	font-weight: 100;
}

.pass input{
	color:  #2196F3;

}
.names input, .pass input{
	width: 72%;
}


.names input:hover, .names input:focus, .pass input:hover, .pass input:focus{
	width: 80%;
}

.btns input{
	border: 2px solid #2196F3;
	padding: 3% 5%;
	border-radius: 4em;
	font-size: 1em;
	color: #eee;
	margin: 0 20px; 
	-webkit-transition: all 0.4s ease;
	transition:all 0.4s ease;
}

.btns input:hover{
/*	color: #eee;
*/	background-color: #2196F3;
	box-shadow: 0 0 12px rgba(33, 150, 243, 0.78);

}

.btns input:active, .btns input:focus{
	transform: translateY(10%) scale(0.95);
}

.formfooter{
	width: 100%;
/*	top: 100%;
	transform: translate(0, -100%);
*/	background-color: rgba(0, 0, 0, 0.24);
	text-align: center;
	border-radius: 0 0 5px 5px;
}

.formfooter p{
	color: rgba(255, 255, 255, 0.4);
	font-weight: 100;
	font-size: 8px;
	padding: 10px;

}
.links{
	font-size: 14px;
	color: #aaa;
	margin: 0 0 1% 0;
	padding: 0 0 4% 0;
	position:relative;

}

.links span{
	margin: 0 25% 0 4.2%;
}
.links .social{
	margin: 0 5% 0 2%;
	display: inline;

}



.tinymenu{
	display: inline;
	text-align: center;
	margin: 0!important;
	background-color: #2196F3;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
	position: absolute;
	padding: 0.4em;
	border-radius: 3em;
	width: 6em;

	transition: all 0.4s ease;
	-webkit-transform: translate(-78%, -90%);
	transform: translate(-78%, -90%);

}

/*#more:hover + .tinymenu{
	display: inline;
	opacity: 1;
	-webkit-translate: transform(-50%, 0);
	transform: translate(-50%, 0);
}*/

.tinymenu a button{
	height: 2em;
	width: 2em;
	font-size: 1em;
	border:none;
	background-color: transparent;
	color: #eee;
}

.tinymenu a button:hover{
	color: #232329;
	box-shadow: none;
}



#tw{
/*	margin: 0 12% 0 2%;*/
	float: right;
}

#tw::after{
	content: "";
	Position: absolute;
	width: 1px;
	Height: 60%;
	background-color: #eee;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
}

#fb{
/*	margin: 0 2% 0 12%;*/
	float: left;
}

.links a{
	text-decoration: none;
	color: #aaa;
	margin: 0 2% 0 2%;
	border-radius: 50%;

}

.links button{
	height: 2em;
	width: 2em;
	font-size: 1em;
	border-radius: 50%;
	border:none;
	background-color: #2196F3;
	color: #eee;
}

.links button:hover{
	box-shadow: 0 0 12px rgba(33, 150, 243, 0.78);
	transform: translateY(-8%);

}

#screenwrapper{
	width: 100%;
	height:100vh;
	position: fixed;
	background: rgba(0, 0, 0, 0.44);
}

.wwrapper{
	overflow-y: scroll;
	width: 82%;
	height: 90%;
	background: #eee;
	border-radius: 0.6em;
	box-shadow: 0 0 32px rgba(29, 30, 31, 0.28);
	text-align:center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.sct{
	width: 100%;
	text-align:left ;
	margin: 0 0 3% 0;

}

.sct::after{
	content: "";
	width: 68%;
	height: 2px;
	opacity: 0.4;
	background: #232329;
	margin: 5% 5%;
	display:block;
}

.sct h1{
	font-size: 1.5em;
	color: #232329;
	margin: 5% 4% 4% 5%;
}

.sct p{
	display: block;
	color: #444;
	margin: 1% 5%;
}

.welcome h1{
	font-size: 2em;
}

.welcome button, .extra1 button{
	margin: 4% 3% 2% 3%;
	background-color: transparent;
	border: 2px solid #2196F3;
	width: 6em;
	height: 3em;
	border-radius: 4em;
	font-size: 1em;
	color: rgb(29, 30, 32);

	-webkit-transition: all 0.4s ease;
	transition:all 0.4s ease;
}

.welcome button:hover, .extra1 button:hover{
/*	color: #eee;
*/	background-color: #2196F3;
	box-shadow: 0 0 12px rgba(33, 150, 243, 0.78);
	color: #eee;

}

.welcome button:active, .extra1 button:active, .extra1 button:focus .welcome button:focus{
	transform: translateY(10%) scale(0.95);
}

.fi{
	width: 100%;
	height:100vh;
	position: fixed;
	background: rgba(0, 0, 0, 0.44);
}

.fixed{
	position: absolute;
	bottom: 10%;
	right: 10%;

}

.fixed a{
	text-decoration: none;
	color: #aaa;
	margin: 0 2% 0 2%;
	border-radius: 50%;

}

.fixed button{
	height: 2em;
	width: 2em;
	font-size: 1em;
	border-radius: 50%;
	border:none;
	background-color: #2196F3;
	color: #eee;
}

.fixed button:hover{
	box-shadow: 0 0 12px rgba(33, 150, 243, 0.78);
	transform: translateY(-8%);

}

.tinymenu2{
	display: inline-block;
	position: relative;
	text-align: center;
	background-color: #2196F3;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
	padding: 0.4em;
	border-radius: 3em;
	width: 6em;

	transition: all 0.4s ease;

}


.tinymenu2 a button{
	height: 2em;
	width: 2em;
	font-size: 1em;
	border:none;
	background-color: transparent;
	color: #eee;
}

.tinymenu2 a button:hover{
	color: #232329;
	box-shadow: none;
}



.tw{
/*	margin: 0 12% 0 2%;*/
	float: right;
}

.tw::after{
	content: "";
	Position: absolute;
	width: 1px;
	Height: 60%;
	background-color: #eee;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
}

.fb{
/*	margin: 0 2% 0 12%;*/
	float: left;
}
