*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat,'Techna Sans Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    font-family: 'Techna Sans Regular';
    // font-family: Montserrat;
}

:root{
    --main: #2087ea;
    --main-transparent:  rgba(29, 160, 242, 0.32);
    --text-v1: #5e697b;
    --text-v2: #2d333d;
}

@mixin shadow($color : var(--main-transparent)) {
    box-shadow: 6px 12px 32px $color;
}
@mixin h1andp($h1: var(--text-v2), $p: var(--text-v1)){
    h1{
        color: $h1;
    }
    p{
        color: $p;
    }
}

.action-btn{
    &, *, &::before, &::after{
        transition: all 0.32s cubic-bezier(0.175, 0.885, 0.32, 1.275) ;
    }
    padding: 12px 24px;
    border: 2px solid var(--main);
    border-radius: 32px;
    background: transparent;
    color: var(--main)!important;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    

    &::before{
        content: '';
        width: 0%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: var(--main);
        z-index: -1;
        transform: translate(0,0);
    }
    
    &:hover{
        @include shadow();
        color: #fff!important;
        
        &::before{
            right: auto;
            left: 0;
            width: 100%;
        }
    }
}

body{
    overflow-x: hidden;
}

//--- SITE HEADER ---//
header#site-header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 12px 12px rgba(0,0,0,.09);
    padding: 12px;
    background: #fff;
    border-radius: 0 0 25px 25px;
    height: 70px;

    & *{
        transition: all 0.32s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &::before,
        &::after {
            transition: all 0.42s cubic-bezier(0.45, 0.79, 0.14, 1.49);
        }
    }

    #site-logo{
        display: inline-block;
        width: 100%;
        text-align: center;

        .logo-svg-cont{
            width: 50px;
            height: 50px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(12px, -50%);

            svg{
                path.cls-1 {
                    fill: #2087ea;
                }
    
                .pathcls-2 {
                    fill: #262b2c;
                }
    
                path.cls-3 {
                    fill: #383f48;
                }
            }
        }

        h1{
            color: var(--text-v1);
            display: inline-block;
        }

    }

}

//  ---SITE NAV ---//
nav#site-nav{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 12px;
    text-align: center;
    visibility: hidden;
    pointer-events: none;


    &.nav-open{
        visibility: visible;
        pointer-events: all;
        clip-path: circle(1000px at 90% -10%);
    }

    ul{
        list-style-type: none;

        li{
            font-size: xx-large;
            padding: 8px;
            color: var(--text-v1);
            margin: 24px 0;

            a{
                text-decoration: none;
                font-weight: 600;
                text-transform: capitalize;
                color: inherit;
            }

            &.action-btn{
                padding: 6px 24px;
            }
        }
    }
}

//      --- SITE NAV BUTTON ---//
#site-nav-btn{
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 4;
    background: transparent;
    border: none;
    position: absolute;
    height: 20px;
    width: 30px;

    div,
    &::before,
    &::after {
        position: absolute;
        content: '';
        width: 30px;
        height: 3px;
        background: var(--text-v1);
        left: 0;
        transform-origin: center center;
    }

    &::before {
        top: 0;
        transform: translate(0, 0px);
    }

    &::after {
        top: 100%;
        transform: translate(0, 0px);
    }

    &.active {
        &::before {
            transform: translate(0, 10px) rotate(45deg);
        }

        &::after {
            transform: translate(0, -10px) rotate(-45deg);
        }

        div {
            transform: rotate(45deg);
            opacity: 0;
        }
    }
}

@supports(display: flex) or (clip-path: circle(100px at 90% -15%)) or (position: sticky){
    header#site-header{
        position: sticky;
        display: flex;
        align-items: center;

        #site-logo{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    nav#site-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        clip-path: circle(100px at 90% -15%);
    }
}



// FOR LARGER SCREENS
@media screen and (min-width: 768px){

    header#site-header{
        border-radius: 0;
        display: inline-block;
        box-shadow: none;
        height: 70px;

        #site-logo{
            position: relative;
            width: 200px;
            text-align: right;
        }
    }


    nav#site-nav{
        position: relative;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        clip-path: circle(1000px at 90% -10%);
        text-align: right;
        float: right;
        width: calc(100% - 200px);

        ul{
            width: 100%;

            li{
                display: inline-block;
                //this wiil be applied only on browsers with support
                display: inline-flex;
                font-size: initial;
                padding: 0 4% 0 0;
                font-size: large;
                margin: 0;
            }
        }
    }
    #site-nav-btn{
        display: none;
    }

    @supports(display: flex){
        header#site-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            #site-logo{
                justify-content: flex-end;
            }
        }

        nav#site-nav{
            justify-content: flex-end;
        }
    }
}
// ---END SITE HEADER --//



// --- MAIN ---//
main{
    margin-top: 60px;
    padding: 0 28px;
    overflow: hidden;
}
@supports(display: flex){
    main{
        margin-top: 0;
    }
}
@media screen and (min-width: 768px){
    main{
        padding: 0 72px;
    }
}

    // --- SITE HERO SECTION --- //

section#site-hero{
    width: 100%;
    display: block;
    min-height: calc(100vh - 70px);
    
    header.text-section{
        @include h1andp();

        h1{
            font-size: 36px;
            margin: 0 0 16px 0;
        }
        p{
            font-size: 18px;
            margin: 0 0 16px 0;
        }
        button{
            font-size: 18px;
        }
    }
}

@supports (display: flex){
    section#site-hero{
        display: flex;
        align-items: center;
    }
}


@media screen and (min-width: 768px){
    section#site-hero{
        display: grid;
        grid-template-columns: 1fr 1fr;

        &::before{
            content: '';
            width: 600px;
            height: 600px;
            position: absolute;
            background: var(--main);
            border-radius: 50%;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(10%, -30%);
        }
        &::after{
            content: '';
            width: 200px;
            height: 200px;
            position: absolute;
            background: var(--main-transparent);
            backdrop-filter: blur(16px);
            border-radius: 50%;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(20%, -80%);
        }    

        header.text-section{
            h1{
                font-size: 42px;
            }
        }
    
    }
}

    // -- END SITE HERO SECTION --- //

    // --- SITE SERVICES SECTION --- //

section#site-services{
    min-height: 100vh;
    margin-top: 64px;

    &::before, &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;

    }

    &::before{
        content: attr(data-section-tag);
        font-size: x-large;
        transform: translate(-72px, 0) rotate(90deg);
    }  

    &::after{
        background: var(--text-v2);
        transform: translate(-26px, calc(-100% - 42px));
        width: 2px;
        height: 72px;
    }

    header{
        margin: 0 0 24px 0;
        @include h1andp( );
        h1{
            font-size: 36px;
        }

        :nth-child(n+1){
            margin-bottom: 12px;
        }
    }
    
    .site-gallery{
        width: 100%;
        margin: 12px 0 12px 0;
        
        .gallery-item{
            padding: 12px;
            width: 100%;
            border-radius: 6px;
            // @include shadow();
            border: 2px solid var(--text-v1);
            margin-top: 24px;
            @include h1andp();

            :nth-child(n+1){
                margin-bottom: 16px;
            }

            .cover-section{
                background: var(--main);
                height: 120px;
                width: 100%;
                border-radius: 6px;
            }
        }
    }
}


@media screen and (min-width: 768px){

    section#site-services{
        width: 100%;
        position: relative;

        header{
           width: 40%;
           float: left;
           padding-right: 12px;
        }
        .site-gallery{
            width: 60%;
            float: left;
            padding-left: 12px;
            margin-top: 0;

            section.gallery-item{
                width: 46%;
                margin: 0 2%;
                float: left;
                position: relative;
                
                &:nth-of-type(even){
                    margin-top: 32px;
                }

            }
        }
    }    

    
    @supports(display: grid){
        section#site-services{
            display: grid;
            grid-template-columns: 3.5fr 2fr;
            gap: 32px;
            align-items: center;
            width: 100%;

            header{
                grid-column: 2;
                width: 100%;
                padding: 0;
            }
            .site-gallery{
                grid-column: 1;
                grid-row: 1;
                display: grid;
                grid-template-columns: 1fr 1fr;
                column-gap: 24px;
                width: 100%;

                section.gallery-item{
                    width: 100%;
                    margin: 0; 
                    float: none; 

                    &:nth-of-type(odd){
                        margin-bottom: 24px;
                    }
                    &:nth-of-type(even){
                        margin-top: 24px;
                    }
                }
            }
        }    
    }
}